* {
    box-sizing: border-box
}
body{
    background-color: #2f3331;
    color: white;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 50px
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 50px
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.php {
    width: 60%;
    background-color: #808080;
}
.percentage{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}